@use '../variables'as *;
@use '../mixins'as *;

// 앨범 Card 컴포넌트
.album-box{
    @include CoverLayout_item('album-image', 'album-detail');
    .album-detail{
        .album-name{ @include ellipsis; }
        .albumA-name{
            @include ellipsis;
            margin: 6px 0 15px 0;
            font-size: 10px;
        }
        .album-bottom{
            span:last-of-type::before{
                content: ' | ';
                color: $gray;
            }
            span{
                font-size: 10px;
            }
        }
    }
}