@use '../variables'as *;
@use '../mixins'as *;

// 앨범 Card 컴포넌트
.album-box{
    @include CoverLayout_item('album-image', 'album-info');
    .album-info{
        .album-name{ @include ellipsis; }
        .album-artist-name{
            @include ellipsis;
            margin: 6px 0 15px 0;
            font-size: 10px;
        }
        .album-release{
            @include album-release;
            span{
                font-size: 10px;
            }
        }
    }
}