@use '../variables'as *;
@use '../mixins'as *;

.artist-badge{
    @include GmarketMedium_black_13;
    display: flex;
    align-items: center;
    gap: 8px;

    .artist-badge-img{
        display: inline-block;
        position: relative; 
        width: 32px; height: 32px;
        border-radius: 50%;
        overflow: hidden;
        &:not(:first-child) {
            margin-left: -8px;
        }
    }
}