@use '../variables'as *;
@use '../mixins'as *;

// 플레이리스트 Card 컴포넌트
.playlist-box{
    @include CoverLayout_item('playlist-image', 'playlist-info');
    .playlist-info{
        >p{ @include ellipsis; }
        p:nth-of-type(2), p:nth-of-type(3){
            font-size: 10px;
        }
        p:nth-of-type(2){
            margin: 6px 0 15px 0;
        }
    }
}