@use '../variables'as *;
@use '../mixins'as *;

.myPage-container{
  @include publicWidth;

  .myPage-Hero{
    @include flex($justify: space-between, $align: flex-end);
    margin-bottom: 20px;

    .myPage-greeting{
      font-family: var(--font-Galmuri9);
  
      // ===========
      // 로그인 후
      // ===========
      .myPage-name{
        color: $orange;
      }

      // ===========
      // 로그인 전
      // ===========
      .guest-greeting{
        font-size: 16px;
        .guest-prompt{
          margin-top: 10px;
          line-height: 1.6;

          .login-link{
            color: $orange;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .myPage-tabs{
    margin-top: 50px;
  }
}

.tagbtn{
  display: inline-flex;
  white-space: nowrap;
  margin-right: 10px;
}