@use '../variables'as *;
@use '../mixins'as *;

.myPage-container{
  .myPage-topSection, .search-tabs, .tagbtn-box, .myplaylist-btn, .myRoom-container{
    @include publicWidth;
  }

  .myPage-Header{
    @include flex($justify: space-between);
  }
  
  .myPage-Hero{
    @include flex($justify: space-between, $align: flex-end);
    margin-bottom: 20px;

    .myPage-greeting{
      font-family: var(--font-Galmuri9);
      font-size: 1rem;
      line-height: 1.5;

      // ===========
      // 로그인 후
      // ===========
      .myPage-name{
        font-family: var(--font-Galmuri9), var(--font-emoji);
        color: $orange;
      }

      // ===========
      // 로그인 전
      // ===========
      .guest-greeting{
        font-size: 1rem;
        .guest-prompt{
          margin-top: 10px;
          line-height: 1.5;

          .login-link{
            color: $orange;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .myPage-tabs{
    margin-top: 50px;
  }
}

.tagbtn{
  display: inline-flex;
  white-space: nowrap;
  margin-right: 10px;
}

.myplaylist-list{
  .playlist-box{
    @include section-padding;
  }
}

// 최근기록 content
.recent{
  @include publicWidth;
  margin-top: 20px;
}

// 편집 모드
.edit-mode {
  opacity: 0.4;
  pointer-events: none;
}

.edit-tabs{
  .search-tabs{pointer-events: none;}
}

.submit{
  font-size: 13px;
}

// 편집 모드 버튼
.edit-actions{
  @include flex;
  gap: 8px;

  .cancel-btn::after{
    content: '·';
    margin-left: 8px;
  }
  .complete-btn {
    color: $orange;
  }
}

.selected{
  @include selected-style;
}

// 내 프로필
.myRoom-container{
  .myRoom-btn {
    @include flex($justify: flex-end);
    height: 24px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .myRoom-profile{
    @include flex;
    gap: 18px;
    
    .myRoom-name{
      font-family: var(--font-Galmuri9);
      font-size: 18px;
      margin-bottom: 10px;
    }

    .myRoom-lastVisited{
      @include flex;
      gap: 5px;
    }

    >p{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;

      >img{
        width: 50px;
        height: 50px;
      }
    }
  }

  .myRoom-label{
    color: $fontgray;
  }

  // 이메일, 가입일, 닉네임, 생년월일
  .myRoom-info{
    margin-top: 30px;
    .myRoom-item{
      @include flex;
      gap: 24px;
      margin: 18px 0;
  
      .myRoom-label{
        width: 80px;
        flex-shrink: 0;
      }
    }
  }

  .birth{
    margin: 18px 0 15px;
  }
  
  // 성별
  .onboarding_gender{
    margin: 15px 0 30px;

    .gender-item-box{
      @include flex;
      gap: 5px;
    }

    .readonly{
      >div >div{ cursor: default; }
    }
  }
}

