@use '../variables'as *;
@use '../mixins'as *;

.myPage-container{
  .myPage-topSection, .search-tabs, .tagbtn-box, .myplaylist-btn, .myRoom-container{
    @include publicWidth;
  }

  .myPage-Header{
    @include flex($justify: space-between);
  }
  
  .myPage-Hero{
    @include flex($justify: space-between, $align: flex-end);
    margin-bottom: 20px;

    .myPage-greeting{
      font-family: var(--font-Galmuri9);
      font-size: 1rem;
      line-height: 1.5;

      // ===========
      // 로그인 후
      // ===========
      .myPage-name{
        color: $orange;
      }

      // ===========
      // 로그인 전
      // ===========
      .guest-greeting{
        font-size: 1rem;
        .guest-prompt{
          margin-top: 10px;
          line-height: 1.5;

          .login-link{
            color: $orange;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .myPage-tabs{
    margin-top: 50px;
  }
}

.tagbtn{
  display: inline-flex;
  white-space: nowrap;
  margin-right: 10px;
}

.myplaylist-list{
  .playlist-box{
    @include section-padding;
  }
}

// 최근기록 content
.recent{
  @include publicWidth;
  margin-top: 20px;
}

// 내 플리 편집 모드
.edit-mode {
  opacity: 0.4;
  pointer-events: none;
}

.edit-tabs{
  .search-tabs{pointer-events: none;}
}

.selected{
  @include selected-style;
}

// 내 프로필
.myRoom-container{
  .myRoom-profile{
    @include flex;
    gap: 10px;
    >img{
      width: 80px;
      height: 80px;
    }
  }
}