@use './reset' as *;
@use './mixins' as *;
@use './variables' as *;

.header{
    @include publicWidth;
    @include logo_style;
    padding: 20px 0;
}

.title{
    @include GmarketMedium_black_23;
    padding: 20px 0;
}

.tagbtn{
    @include GmarketMedium_black_13;
    display: inline-block;
    padding: 11px 14px 9px;
    border: 1px solid $blue;
    border-radius: 85px;
    cursor: pointer;

    &.active{
        background-color: $blue;
        color: $white;
    }
}
.section-header{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
    >h2{ @include GmarketMedium_black_13; }
}

.more-arrow{
    width: 5px; height: 10px;
}

input:checked + .tagbtn{
    display: inline-block;
    padding: 11px 14px 9px;
    color: white;
    border: 1px solid $blue;
    background-color: $blue;
    border-radius: 85px;
}

// textfield
.textfield{
    width: 100%;
    margin-bottom: 12px !important;

    .MuiInput-root {
        font-family: $GmarketMedium;
        font-size: 14px !important;
        color: $black;

        input {
            padding: 10px 0;
            &::placeholder {
                color: $lightgray;
                opacity: 1; // MUI 기본 opacity 0.5라 명시적으로 지정해주는 게 좋아
            }
        }

        // 기본 border
        &::before{
            border-color: $lightgray;
        }

        // hover 시 border
        &:hover:not(.Mui-disabled, .Mui-error)::before{
            border-color: $blue;
        }

        // focus 시 border
        &.Mui-focused::after{
            border-color: $blue;
        }

        // error 시 border
        &.Mui-error::after{
            border-color: $orange;
        }
    }

    // label
    .MuiInputLabel-root {
        font-family: $GmarketMedium !important;
        font-size: 14px !important;
        color: $lightgray;

        // focus 시 label
        &.Mui-focused {
            color: $blue;
        }
    
        // error 시 label
        &.Mui-error {
            color: $orange;
        }
    }

}

// longbtn
.longbtn{
    width: 100%;
    padding: 20px 0;
    color: $white;
    font-size: 16px;
    text-align: center;
    border-radius: $radius10;
    background-color: $lightgray;
    opacity: 0.5;

    .active{
        background-color: $blue;
    }
}

// tracklist
.tracklist{
    li{
        margin-bottom: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .chart-num-home{
        position: absolute;
        display: block;
        left: -13px; bottom: -15px;
        color: $orange;
        font-size: 40px;
        text-shadow: 2px 2px 6px rgba(26, 26, 26, 0.3);
    }
    .chart-center{
        width: 65%;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 16px;

        .chart-num-chart{
            width: 20px;
            text-align: center;
            font-family: $GmarketBold;
            font-size: 14px;
        }

        > div{
            p{font-size: 13px;}
            span{
                font-size: 11.5px;
                color: $gray;
            }
        }
    }
    .chart-right{
        display: flex;
        gap: 30px;
        .icons-play{
            width: 11px; height: 14px;
        }
        .icons-dot{
            width: 4px; height: 18px;
        }
    }
    .chart-image{
        border-radius: 5px;
        overflow: hidden;
        width: 45px; height: 45px;
    }
}

//sortBtn
.sortBtn-wrapper{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    .sortBtn{
        display: flex;
        gap: 6px;
        .drop{
            width: 9px; height: 7px;
        }
    }
}

// footer
.footer-container{
    padding-bottom: $paddingForNavbar;

    .footer-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .icons-git{ width: 15px; }
        .icons-figma{ width: 13px; }
    }

    p{ margin: 12px 0 10px;}
    
    p, span{
        font-family: $Galmuri;
        font-size: 9px;
        display: block;
        text-align: center;
    }
}

// iconbutton
.icon-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
    cursor: pointer;
}