// ======================
// ========width=========
// ======================

$publicWidth: calc(100% - 36px);

// ======================
// ========color=========
// ======================

// * basic color
$black: #1A1A1A;
$fontgray: #555;
$white: #fff;
$gray: #8E8E93;

// * point color 
$button: rgba(255, 228, 242, 0.5);

$blue: #058CD7;
$orange: #FF8C42;

// ======================
// =========font=========
// ======================

$logo : "logo";
$GmarketBold : "GmarketBold";
$GmarketMedium : "GmarketMedium";
$Galmuri : "Galmuri9";

// ======================
// ======font size=======
// ======================

$bigTitle: 60px;
$title: 40px;
$subTitle: 26px;
$regular: 16px;

// ======================
// ========radius========
// ======================

$radius: 20px;

// ======================
// =====line-height======
// ======================

$lineHeight1: 120%;
$lineHeight2: 140%;

