// ======================
// ========width=========
// ======================

$publicWidth: calc(100% - 36px);

// ======================
// ========color=========
// ======================

// * basic color
$black: #1A1A1A;
$fontgray: #555;
$white: #fff;
$gray: #8E8E93;
$lightgray: #D9D9D9;

// * point color 
$button: rgba(255, 228, 242, 0.5);

$blue: #058CD7;
$orange: #FF8C42;

// ======================
// =========font=========
// ======================

// scss에서 바로 적용 해주세요 !
// font-family: var(--font-decoshadow);
// font-family: var(--font-gmarketBold);
// font-family: var(--font-gmarketMedium);
// font-family: var(--font-Galmuri9);

// ======================
// ======font size=======
// ======================

$bigTitle: 60px;
$title: 40px;
$subTitle: 26px;
$regular: 16px;

// ======================
// ========radius========
// ======================

$radius: 20px;
$radius10: 10px;

// ======================
// =====line-height======
// ======================

$lineHeight1: 120%;
$lineHeight2: 140%;

$paddingForNavbar: 50px;
