.chart-container {
  width: calc(100% - 36px);
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}
.chart-container .chart-tagbtn-box .chart-tagbtn {
  margin-right: 10px;
}
.chart-container .chart-section-list-box {
  margin-bottom: 50px;
}
.chart-container .chart-topmenu-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 30px 0 20px;
}
.chart-container .chart-topmenu-box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.chart-container .chart-topmenu-box .chart-icon-check {
  width: 12px;
}
.chart-container .chart-topmenu-box .chart-icon-play {
  width: 10px;
}

.chart-footer {
  margin: 50px 0;
}