@font-face {
  font-family: "logo";
  src: url("/fonts/Cafe24Decoshadow.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GmarketBold";
  src: url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "GmarketMedium";
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Galmuri9";
  src: url("/fonts/Galmuri9.ttf") format("truetype");
  font-weight: 500;
}
.search-container {
  width: calc(100% - 36px);
  margin: 0 auto;
}
.search-container .search-bar {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}
.search-container .search-bar > input {
  width: 100%;
  padding: 8px 2px;
}
.search-container .trendingTags-contanier > *, .search-container .trendingSearches-contanier > * {
  margin-bottom: 50px;
}
.search-container .trendingTags-contanier h3, .search-container .trendingSearches-contanier h3 {
  margin-bottom: 20px;
  font-family: "Galmuri9";
  font-weight: normal;
  font-size: 20px;
}
.search-container .trendingSearches-contanier .trending {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.search-container .trendingSearches-contanier .trending > span {
  font-size: 14px;
}
.search-container .trendingSearches-contanier .num {
  width: 23px;
  color: #058CD7;
  font-size: 15px;
}
.search-container .trendingTags-contanier .tag-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.search-container .allReslts-container .allReslts {
  margin-bottom: 50px;
}
.search-container .allReslts-container .allReslts .section-header {
  margin-bottom: 20px;
}
.search-container .allReslts-container .allReslts-artist .artist-container {
  display: flex;
  gap: 10px;
}
.search-container .allReslts-container .allReslts-artist .artist-container .artist-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.search-container .allReslts-container .allReslts-artist .artist-image {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  overflow: hidden;
}
.search-container .allReslts-container .album-box, .search-container .allReslts-container .playlist-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.search-container .allReslts-container .album-box .album-image, .search-container .allReslts-container .album-box .playlist-image, .search-container .allReslts-container .playlist-box .album-image, .search-container .allReslts-container .playlist-box .playlist-image {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
}
.search-container .allReslts-container .allReslts-album .album-detail .albumA-name {
  margin: 6px 0 15px 0;
  font-size: 10px;
}
.search-container .allReslts-container .allReslts-album .album-detail .album-bottom span:last-of-type::before {
  content: " | ";
  color: #8E8E93;
}
.search-container .allReslts-container .allReslts-album .album-detail .album-bottom span {
  font-size: 10px;
}
.search-container .allReslts-container .allReslts-playlist .playlist-detail p:nth-of-type(2), .search-container .allReslts-container .allReslts-playlist .playlist-detail p:nth-of-type(3) {
  font-size: 10px;
}
.search-container .allReslts-container .allReslts-playlist .playlist-detail p:nth-of-type(2) {
  margin: 6px 0 15px 0;
}