@use '../variables'as *;
@use '../mixins'as *;

// 플레이리스트 추가
.new-playlist-page{
  .new-playlist-form{
    @include publicWidth;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    
    input::placeholder{
      font-family: var(--font-Galmuri9);
      font-size: 13px;
    }
  }
  
  .new-playlist-header {
    @include flex($align: center);

    .new-playlist-back,
    .submit {
      flex: 1;
    }

    .sub-title {
      text-align: center;
    }

    .submit {
      @include flex($justify: flex-end);
      font-size: 13px; color: $orange;
    }

    .back{
      width: 16px; height: 16px;
    }
  }
  .new-playlist-btn{
    margin: 20px 18px;
  }

  .new-playlist-tracks{
    li{
      margin: 0;
      padding: 10px 18px;
    }

    .selected{
      background-color: #E9F7FF;
    }
  }
}

// 곡 추가
.add-track{
  @include publicWidth;

  .search-bar{
    display: flex;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    >input{
      width: 100%;
      padding: 8px 2px;
    }
    >input::placeholder{
      font-family: var(--font-Galmuri9);
    }
  }
}