@use '../variables'as *;
@use '../mixins'as *;

.playlist-detail{
  @include publicWidth;

  .playlist-detail-img{
    margin: 15px auto 30px;
    width: 200px; height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }

  .playlist-detail-fans-count{ 
    font-family: var(--font-Galmuri9);
    font-weight: normal;
    font-size: 12px;
    &::after{
      content: "💽 ";
      font-size: 15px;
    }
  }

  h2{
    @include GmarketBold_black_18;
    margin: 10px 0 15px;
    line-height: $lineHeight2;
  }

  .playlist-detail-info{
    @include flex;
    @include album-release;
    @include GmarketMedium_black_13;
    margin-bottom: 15px;
    >span {color: $fontgray;}
  }

  .playlist-detail-creator{ margin-bottom: 20px; }

// ======================================================
// PlaylistTrackList.tsx
// ======================================================
  .playlist-track{
    .playlist-track-summary{
      text-align: right;
      margin: 10px 0 20px;

      >div{
        span:last-of-type::before{
            content: " • ";
        }
      }
    }
  }
}