@use '../variables'as *;
@use '../mixins'as *;

.search-container{
    @include publicWidth;
    .search-bar{
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        border-bottom: 2px solid black;
        >input{
            width: 100%;
            padding: 8px 2px;
        }
    }

    .trendingTags-contanier, .trendingSearches-contanier{
        >*{margin-bottom: 50px;}
        h3{
            margin-bottom: 20px;
            @include Galmuri9_20;
        }
    }
    .trendingSearches-contanier{
        .trending{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            >span{font-size: 14px;}
        }
        .num{
            width: 23px;
            color: $blue;
            font-size: 15px;
        }
    }
    .trendingTags-contanier{
        .tag-ul{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
    .allReslts-container{
        .allReslts{ 
            .section-header{ margin-bottom: 20px; }
            margin-bottom: 50px; 
            

        }
        .allReslts-artist{
            .artist-container{
                display: flex;
                gap: 10px;
                .artist-box{ 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 13px;
                }
            }

            .artist-image{
                width: 98px; height: 98px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .allReslts-track{}
        .allReslts-album{
            .album-box{
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 20px;
                .album-image{
                    width: 90px; height: 90px;
                    border-radius: 5px;
                    overflow: hidden; 
                }
                .album-detail{
                    .albumA-name{
                        margin: 6px 0 15px 0;
                        font-size: 10px;
                    }
                    .album-bottom{
                        span:last-of-type::before{
                            content: ' | ';
                            color: $gray;
                        }
                        span{
                            font-size: 10px;
                        }
                    }
                }
            }
        }


    }
}
