@use '../variables'as *;
@use '../mixins'as *;

.join{
    &.back{
        padding: 20px 0;
        cursor: pointer;
        >img{width: 14px; height: 14px;}
    }
    &.check-square-off, &.check-square-on{
        width: 19px; height: 18px;
    }
}

.join-container{
    width: $publicWidth;
    min-height: 100vh;
    padding-bottom: $paddingForNavbar;
    margin: 0 auto 50px;

    .join-title{margin-bottom: 16px;}

    .join-content-box{
        .join-gender-box{
            margin-top: 10px;
            p{
                font-size: 15px;
            }
            .join-tagbtn{
                margin: 7px 7px 16px 0;
            }
        }
        .info{
            display: block;
            color: $lightgray;
            text-align: right;
            font-size: 12px;
        }
    }

    .join-agree-box{
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 30px 0 15px;
        font-size: 12px;
        color: $lightgray;

        button{
            text-decoration: underline;
            font-size: 12px;
            color: $blue;
            cursor: pointer;
        }
    }
}
